h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 68px;
	font-weight: 500;
	/*color: #FF0000;*/

	color: #C6EAFF;
	text-shadow:
	3px -3px #FEFEFF,
	2px -2px #FEFEFF,
	1px -1px #FEFEFF;

}

h3 {
  font-family: "Montserrat";
  color: #48a4d1;
  margin-top: -40px;
  margin-bottom: -10px;
  font-weight: 600;
  font-size: 30px;
}

a {
	color: #3f535a;
	text-decoration: none;
}

a:hover {
	color: #47aace;
	text-decoration: underline;
}

html {
	font-family: HoeflerText-Regular, Times, serif;
	font-size: 22px;
}
p {

	line-height: 30px;
	color: #4d6b73;
	max-width: 600px;
}

.vertical-line {
	position: absolute;
	left: calc(50% - 45px);
	top: 100px;
	height: 70px;
	border-left: 2px dotted #FFFFFF;
	width: 1pt;
}

.float-right {
	position: absolute;
	width: 33%;
	bottom: 0px;
	top: 0px;
	right: 0px;
}

span {
	padding-right: 5px;
}


.main {
	max-width: 760px;
	margin-left:auto;
    margin-right:auto;
    padding: 20px;
}

.main div {
	max-width:600px;
}

body .full {
	width: 100%;
	object-fit: none;
	margin-left: 0px;
	margin-right: 0px;
}

body {
	padding: 0px;
	margin: 0px;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
