.site-footer {
  @extend %padding-regular;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: lighten($text-color, 30%);
  font-size: 0.9em;
  background-image: url("../img/ice.jpg");
  background-position: center 80%;
  background-size: 100%;
}